.main {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.main__paragraph {
    margin: auto;
    align-items: center;
    font-size: 20px;
    line-height: 1.6;
    padding: 40px;
    font-family: 'Playfair Display', serif;
}

@media (max-width: 767px) {
    .main__paragraph {
        font-size:12px;
    }
}

.main__paragraphTitle{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin:auto
}

@media (max-width: 767px) {
    .main__paragraphTitle {
        font-size:15px;
    }
}