html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
    margin: 20px;
    max-width: 100%;
}

.body {
    height: 100%;
    width: 100%;
    margin: 30px;
    text-align: center;
    background-image: url ("..images/photo7.jpg");
}

    @media (max-width: 767px) {
        .body {
            width: 100%;
        }
    }
    

.footer {
    max-width: 100%;
    margin: 30px;
    text-align: center;
}

.dark {
    background-color: #1e1e1e;
    color:#f4f4f4
}

.themeButton {
    border: none;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    background-color: #1e1e1e;
    color: #ffffff;
  }

  @media (max-width: 767px) {
    .themeButton {
        font-size:12px;
    }
}
  
  .themeButton:hover {
    background-color: #202020c1;
  }